.button {
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--white);
    background-color: transparent;
    border: none;

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: all .4s;

    &--primary {
        height: 5rem;
        background-color: var(--bright--blue);
        box-shadow: 0px 2rem 2rem rgba(56, 42, 225, 0.190291);
        border-radius: 1.1rem;

        &:hover {
            background-color: #766CF1;
        }
    }

    &--ghost {
        color: var(--desaturated--blue);

        &:hover {
            color : var(--dark-blue)
        }
    }
}