*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--primary-font);
    font-style: normal;

    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    background-image: url(../../images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;

    background-color: rgba(224, 232, 255, 1);

    padding: 0;
    display: flex;
    justify-content: center;
    padding-top: 7.1rem;

    @media screen and (min-width: 768px) {
        padding-top: 10.2rem;
        background-image: url(../../images/pattern-background-desktop.svg);
        background-position-y: -25%;
    }
}

button{
    cursor: pointer;
}

img,
source {
    max-width: 100%;
}